.admin-title {
	text-align: center;
	margin-top: 20px;
}

#save-goods,
#save-promotion {
	float: right;
}

#available-goods-pages {
	margin-top: 10px;
}

.modal-title {
	text-overflow: ellipsis;
}

#select-goods-load-more-btn {
	height: 20px;
	width: 90px;
	padding: 0 5px 0 5px;
	font-size: 14px;
}

.container {
	margin-bottom: 20px;
}

#select-goods-reload-btn {
	height: 30px;
	width: 30px;
	padding: 3px 5px 5px;
}

.fa-gear {
	font-size: 20px;
}
