<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	<h3>GET request</h3>
	<form action="http://localhost:3000" method="get">
		<label for="text-get">Text:</label>
		<input name="text" id="text-get" />
		<button type="submit">Submit</button>
	</form>
	<h3>POST request</h3>
	<form action="http://localhost:3000" method="post">
		<label for="text-post">Text:</label>
		<input name="text" id="text-post" />
		<button type="submit">Submit</button>
	</form>
	<br>
	<button id="ajax-test">Press to test AJAX request!</button>
<script>
	let responseHandler = function() {
		console.log(this.responseText);
	};

	let sendAjax = function () {
		let request = new XMLHttpRequest();
		request.open('GET', 'data.txt');
		request.onreadystatechange = responseHandler;
		request.send();
	};

	document.getElementById('ajax-test').addEventListener('click', sendAjax, false);
</script>
</body>
</html>